@media (min-width: 240px) and (max-width: 768px) {
   body{
    max-width: 100%;
   }
      .home img{
        max-width: 100%;
        padding-left: 20px;
        margin-bottom: 100px;
        object-fit: contain;
        background-position:  center;
        
        background-size: cover;
      }

    
}
